*, ul, p, h1, h2, h3, h4, button, body, input, ::before, ::after, div {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}

ul, ol, li {
    list-style-type: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: inherit;
    font-size: inherit;
}

html, body {
    height: 100%;
    line-height: 1;
    font-size: 16px;
    color: #000;
    font-family: Georgia;
}

.wrapper {
    overflow: hidden;
    min-height: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    margin-top: 60px;
    min-height: 60px;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo {
            width: 184px;
            
            .logo_title {
                font: 400 32px/35.2px Georgia;
                color: #F1CDB3;
                letter-spacing: 0.05em;
                margin-bottom: 10px;
            }

            .logo_sub-title {
                font: 400 13px/14.95px Arial;
                letter-spacing: 0.1em;
                color: white;
            }
        }

        nav {
            ul {
                display: flex;

                li:not(:last-child) {
                    margin-right: 35px;
                }
                
                a {
                    font: 400 15px/25px Arial;
                    height: 27px;
                    padding-bottom: 1px;
                    color: #CDCDCD;
                    display: inline-block;
                }

                a:hover {
                    border-bottom: 3px solid #F1CDB3;
                }
            }
            
        }
    }
}

main {
    margin-top: -180px;

    .__heading {
        font: 400 35px/45.5px Georgia;
        color: #545454;
        letter-spacing: 0.06em;
    }
}

.start-screen {
    padding-top: 240px;
    min-height: 908px;
    background: url('../assets/images/start-screen-gradient-background.jpg');
    background-size: cover;

    .container {
        display: flex;
        justify-content: space-between;

        .start-screen__content {
            margin-top: 163px;

            .start-screen__content__heading {
                width: 310px;
                font: 400 44px/57.2px Georgia;
                color: white;
                margin-bottom: 42px;
            }

            .start-screen__content__sub-heading {
                width: 460px;
                font: 400 15px/24px Arial;
                color: #CDCDCD;
                margin-bottom: 41px;
            }

            .start-screen__content__button {
                width: 207px;
                text-align: center;
                font: 400 17px/52px Georgia;
                background: #F1CDB3;
                border-radius: 100px;
                letter-spacing: 0.06em;
            }
        }
    } 
}

.about {

    .container {
        display: flex;
        justify-content: center;
        min-height: 588px;
        column-gap: 120px;

        .about__pets {
            min-height: 408px;
            margin-top: 80px;
        }

        .about__text {
            margin-top: 94px;
            width: 430px;

            & > *:not(:last-child) {
                margin-bottom: 25px;
            }

            .about__text__heading {
                width: 370px;
            }

            .about__text__sub-heading {
                width: 100%;
                font: 400 15px/24px Arial;
                color: #4C4C4C;
            }
        }
    }
}