*, ul, p, h1, h2, h3, h4, button, body, input, ::before, ::after, div {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul, ol, li {
  list-style-type: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

html, body {
  height: 100%;
  line-height: 1;
  font-size: 16px;
  color: #000;
  font-family: Georgia;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  margin-top: 60px;
  min-height: 60px;
}
header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .container .logo {
  width: 184px;
}
header .container .logo .logo_title {
  font: 400 32px/35.2px Georgia;
  color: #F1CDB3;
  letter-spacing: 0.05em;
  margin-bottom: 10px;
}
header .container .logo .logo_sub-title {
  font: 400 13px/14.95px Arial;
  letter-spacing: 0.1em;
  color: white;
}
header .container nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header .container nav ul li:not(:last-child) {
  margin-right: 35px;
}
header .container nav ul a {
  font: 400 15px/25px Arial;
  height: 27px;
  padding-bottom: 1px;
  color: #CDCDCD;
  display: inline-block;
}
header .container nav ul a:hover {
  border-bottom: 3px solid #F1CDB3;
}

main {
  margin-top: -180px;
}

.start-screen {
  padding-top: 240px;
  min-height: 908px;
  background: url("../assets/images/start-screen-gradient-background.jpg");
  background-size: cover;
}
.start-screen .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.start-screen .container .start-screen__content {
  margin-top: 163px;
}
.start-screen .container .start-screen__content .start-screen__content__heading {
  width: 310px;
  font: 400 44px/57.2px Georgia;
  color: white;
  margin-bottom: 42px;
}
.start-screen .container .start-screen__content .start-screen__content__sub-heading {
  width: 460px;
  font: 400 15px/24px Arial;
  color: #CDCDCD;
  margin-bottom: 41px;
}
.start-screen .container .start-screen__content .start-screen__content__button {
  width: 207px;
  text-align: center;
  font: 400 17px/52px Georgia;
  background: #F1CDB3;
  border-radius: 100px;
  letter-spacing: 0.06em;
}
